<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Language" content="en-us" />
    <meta name="Robots" content="All" />
    <meta name="application-name" content="MeetPlayPal" />
    <meta name="keywords" content="Online Bookmarks, online bookmarks manager, save bookmarks online, online favorites, save favorites online, browser extensions, import from  browser ready, free online bookmarks, tree view, increase web traffic, build user base, site value" />
    <meta name="description" content="Online bookmarks with browser extensions, import from  browser ready, heirarchial tree view, publisher plugins to increase web traffic, site value and build user base">
    <title>Online bookmarks with browser addon's, import ready, tree view, free of charge, publisher plugins to increase web traffic, site value and build user base</title>
    <link rel="shortcut icon" href="~/images/favicon.png">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/plugins.min.css">
    <link rel="stylesheet" href="~/Content/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112287387-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112287387-1');
    </script>

    @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7757257431735868",
        enable_page_level_ads: true
      });
    </script>*@
</head>

<body class="home-page">

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="apland-load"></div>
    </div>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }
            (document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

    @*<script>
        $("#nav li a").click(function () {
            $("#nav li").removeClass('active');
            $(this).parent().addClass('active');
        });
    </script>*@


    <header class="header_area">
        <div class="main_header_area animated">
            <div class="container">
                <div class="row">

                    <div class="col-4 col-sm-3">
                        <div class="logo_area">
                            <a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" alt="MeetPlayPal"> <span>MeetPlayPal</span></a>
                        </div>
                    </div>

                    <div class="col-8 col-sm-9 text-right">
                        <div class="main_menu_area d-inline-block">
                            <li class="mainmenu">
                                <nav>
                                    <ul id="nav">
                                        @if (Session["User"] == null)
    {
        if (Request.Url.AbsoluteUri.ToLower().Contains("home/index") || Request.Url.AbsoluteUri.ToLower().Contains("home/index#home"))
        {
                                    <li class="active"><a href="/Home/Index#home">Home</a></li>
}
else
{
                                    <li><a href="/Home/Index#home">Home</a></li>
}

if (Request.Url.AbsoluteUri.ToLower().Contains("home/index#howitworks"))
{
                                    <li class="active"><a href="/Home/Index#howitworks">How It Works</a></li>
}
else
{
                                    <li><a href="/Home/Index#howitworks">How It Works</a></li>
}

if (Request.Url.AbsoluteUri.ToLower().Contains("home/index#whattoexpect"))
{
                                    <li class="active"><a href="/Home/Index#whattoexpect">What To Expect</a></li>
}
else
{
                                    <li><a href="/Home/Index#whattoexpect">What To Expect</a></li>
}





if (Request.Url.AbsoluteUri.ToLower().Contains("bookmark/extensions"))
{
                                    <li class="active">@Html.ActionLink("Extensions", "Extensions", "Bookmark")</li>
}
else
{
                                    <li>@Html.ActionLink("Extensions", "Extensions", "Bookmark")</li>
}
if (Request.Url.AbsoluteUri.ToLower().Contains("account/login"))
{
                                    <li class="active"><a href="@Url.Action("Login", "Account")">Login</a></li>
}
else
{
                                    <li><a href="@Url.Action("Login", "Account")">Login</a></li>
}
if (Request.Url.AbsoluteUri.ToLower().Contains("account/choice"))
{

                                    <li class="active"><a href="@Url.Action("Choice", "Account")">Get Started</a></li>
}
else
{
                                    <li><a href="@Url.Action("Choice", "Account")">Get Started</a></li>
}
}
else
{
Users user = (Users)Session["User"];

if (Request.Url.AbsoluteUri.ToLower().Contains("bookmark/reports"))
{
                                    <li class="active">@Html.ActionLink("Reports", "Reports", "Bookmark")</li>
}
else
{
                                    <li>@Html.ActionLink("Reports", "Reports", "Bookmark")</li>
}
if (Request.Url.AbsoluteUri.ToLower().Contains("bookmark/scriptcode"))
{
                                    <li class="active">@Html.ActionLink("Script", "ScriptCode", "Bookmark")</li>
}
else
{
                                    <li>@Html.ActionLink("Script", "ScriptCode", "Bookmark")</li>
}




if (Request.Url.AbsoluteUri.ToLower().Contains("bookmark/domains"))
{
                                    <li class="active">@Html.ActionLink("Domains", "Domains", "Bookmark")</li>
}
else
{
                                    <li>@Html.ActionLink("Domains", "Domains", "Bookmark")</li>
}




if (Request.Url.AbsoluteUri.ToLower().Contains("bookmark/mybookmarks"))
{
                                    <li class="active">@Html.ActionLink("Bookmarks", "MyBookmarks", "Bookmark")</li>
}
else
{
                                    <li>@Html.ActionLink("Bookmarks", "MyBookmarks", "Bookmark")</li>
}




if (Request.Url.AbsoluteUri.ToLower().Contains("bookmark/import"))
{
                                    <li class="active">@Html.ActionLink("Import", "Import", "Bookmark")</li>
}
else
{
                                    <li>@Html.ActionLink("Import", "Import", "Bookmark")</li>
}





if (Request.Url.AbsoluteUri.ToLower().Contains("bookmark/extensions"))
{
                                    <li class="active">@Html.ActionLink("Extensions", "Extensions", "Bookmark")</li>
}
else
{
                                    <li>@Html.ActionLink("Extensions", "Extensions", "Bookmark")</li>
}




if (Request.Url.AbsoluteUri.ToLower().Contains("account/viewuser"))
{
                                    <li class="active">@Html.ActionLink("Profile", "ViewUser", "Account")</li>
}
else
{
                                    <li>@Html.ActionLink("Profile", "ViewUser", "Account")</li>
}


                                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
}
                                    </ul>
                                </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Main Header Area End -->
    </header>

    @RenderBody()


    <footer class="footer_area">
        <div class="footer_bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col-7">

                        <div class="footer_menu text-left">
                            <ul>
                                <li><a href="@Url.Action("API", "Home")">API</a></li>
                                <li><a href="@Url.Action("Policy", "Home")">Privacy Policy</a></li>
                                <li>@*<a href="@Url.Action("Disclaimer", "Home")">Term &amp; Conditions</a>*@</li>
                                @*<li><a href="@Url.Action("Contact", "Home")">Help or Feedback</a></li>*@
                                <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                            </ul>
                            <div class="footer_social_area">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=MeetPlayPal.com"><i class="fa fa-facebook"></i></a>
                                <a href="https://plus.google.com/share?url=http://MeetPlayPal.com"><i class="fa fa-google-plus"></i></a>
                                @*<a href="#"><i class="fa fa-pinterest"></i></a>*@
                                <a href="https://twitter.com/share?url=http://MeetPlayPal.com"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">

                        <div class="footer_menu text-right">
                            <div class="footer_bottom text-right copywrite-area">
                                Copyright © 2017-2018 MeetPlayPal. All rights reserved.
                            </div>
                            <div style="padding-top:7px" class="fb-like" data-href="https://facebook.com/MeetPlayPal" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                            <div style="padding-top:7px">
                                @*<a href="https://twitter.com/MeetPlayPal" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-lang="en" data-show-count="true">Follow</a>*@
                            </div>

                        </div>
                    </div>
                </div>
            </div>


    </footer>

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/plugins.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    @RenderSection("scripts", required: false)




</body>



</html>
