
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}


<section class="pt150 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="page_title_area">
                    <div class="section_heading">
                        <h3><span>Change Password</span> </h3>

                    </div>
                </div>
@using (Html.BeginForm("ChangePassword", "Account"))
{
                <div class="form_search">
                    <form method="post">
                        <div class="form_area">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div id="divAck" class="error_info"></div>
                                        </div>
                                        <div class="error_info">@ViewBag.Ack</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Password("txtPassword", "", new { placeholder = "Password", @class = "form-control", required="required" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Password("txtNewPassword", "", new { placeholder = "New Password", @class = "form-control", required = "required" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Password("txtConfirmPassword", "", new { placeholder = "Confirm Password", @class = "form-control", required = "required" })
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-xs-6">
                                            <button id="Submit" name="Submit" class="btn btn-block" onclick="return ValidatePasswords()">Submit</button>
                                        </div>   
                                        <div class="col-xs-6">
                                            <button id="Cancel" name="Cancel" class="btn btn-block" formnovalidate>Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
}
@Html.Hidden("hfUserEMail", (Object)ViewBag.UserEMail)
            </div>
        </div>
    </div>
</section>







@*<div style="height:100px"></div>
    <h2>Change Password</h2><br />


    <div>
        @using (Html.BeginForm("ChangePassword", "Account"))
        {
            <div style="text-align:center;height: 100%; width: 100%; font-size: 16px;border:solid;border-radius:20px;border-width:0px;border-color:lightgrey;background-color:#EFF0ED">
                <table style="width: 30%; margin: 0 auto; text-align: left" cellpadding="4" cellspacing="4">
                    <tr>
                        <td style="font-weight: bold; color: red">
                            <div id="divAck" style="width: 100%; font-weight: bold; color: Red">@ViewBag.Ack</div>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            @Html.Password("txtPassword", "", new { placeholder = "Password", @class = "myText" })

                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            @Html.Password("txtNewPassword", "", new { placeholder = "New Password", @class = "myText" })

                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            @Html.Password("txtConfirmPassword", "", new { placeholder = "Confirm Password", @class = "myText" })

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Submit" onclick="return ValidatePasswords()" class="mysubmitsmall" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="submit" value="Cancel" name="Cancel" class="mysubmitsmall" />
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                </table>
            </div>
        }

        @Html.Hidden("HFOldPassword", (Object)ViewBag.OldPassword)
        @Html.Hidden("hfUserEMail", (Object)ViewBag.UserEMail)*@
