
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/Manage_MeetPlayPal.cshtml";
}

<section class="pt150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="page_title_area">
                    <div class="section_heading">
                        <h3><span>Forgot your password?</span> </h3>

                    </div>
                </div>

                @using (Html.BeginForm("ProcessActivationCode", "Account"))
                {
                    if (ViewBag.Activation != null)
                    {
                        <div class="form-group">
                            <div class="error_info">@ViewBag.Activation</div>
                        </div>
                        <div class="col-lg-6 col-6">                       
                            <div class="form-area">
                                <button type="submit" id="btnResendAct" class="btn btn-block">Resend Activation Link</button>
                                @Html.Hidden("hfUserEMail", (object)ViewBag.UserActEMail)
                            </div>
                        </div>
                    }
                }
                <div style="height:20px"></div>
                <div class="contact_from">
                        <div class="form_area">
                            @using (Html.BeginForm("ForgotPassword", "Account"))
                            {
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <h3>Enter your email address to get restet link</h3>
                                        <div class="form-group">
                                            <div class="error_info">@ViewBag.Ack</div>
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBox("txtEMailId", "", new { @class = "form-control", placeholder = "Email Id", type = "email", required = "required" })
                                        </div>


                                        <button type="submit" class="btn btn-block">SEND</button>
                                        <p class="mt20 text-center">We'll sent you a password reset link to your email id</p>
                                        <p class="mt20 text-center"><a href="@Url.Action("Login", "Account")">Back to Login</a></p>

                                    </div>
                                </div>
                            }
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>



@*<div style="height:100px"></div>
<h2>Forgot Password</h2><br />
@using (Html.BeginForm("ForgotPassword", "Account"))
{
    <div>
        <table style="height: 100px; width: 100%;border:solid;border-radius:20px;border-width:0px;border-color:lightgrey;background-color:#EFF0ED">
            <tr>
                <td align="left" colspan="2" style="padding-left:5%">
                    <div id="divAck" style="width: 100%; font-weight: bold;  color: Red">@ViewBag.Ack</div>
                </td>
            </tr>
            <tr>
                <td style="padding-left:40px">
                    @Html.TextBox("txtEMailId", "", new { @class="form-control", style="width:400px", placeholder = "Email Id" })                    
                </td>
                <td style="text-align:left;padding-right:450px">
                    <input type="submit" value="Submit" id="btnForgotPassword" onclick="return ValidateForgotPassword()" class="mysubmitsmall" />
                </td>
            </tr>
        </table>
        </div>
        }*@
