@using MeetPlayPal.Models
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Manage_MeetPlayPal.cshtml";
}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div>
                    <div class="section_heading">
                        <h3><span>Login</span> </h3>
                    </div>
                </div>
                <div>
                    <ul class="fa-ul list-colored mt20" style="font-weight:500">
                        <li>
                            <i class="fa-li fa fa-arrow-circle-o-right"></i>Online bookmarks with tree view.
                        </li>
                        <li>
                            <i class="fa-li fa fa-arrow-circle-o-right"></i>Chrome and Firefox extensions.
                        </li>
                        <li>
                            <i class="fa-li fa fa-arrow-circle-o-right"></i>Import bookmarks from all your browsers here in just 1 step. Login now.
                        </li>
                    </ul>


                </div>


                            @*<div class="success_info">Thank you! your message sent successful</div>*@
                            <div class="error_info">@ViewBag.Ack</div>
                            @using (Html.BeginForm("ProcessActivationCode", "Account"))
                            {

                                if (ViewBag.Activation != null)
                                {
                                    <div class="form-group">
                                        <div class="error_info">@ViewBag.Activation</div>
                                    </div>
                                    <div class="col-lg-6 col-6">
                                        <div class="form-area">
                                            <button type="submit" id="btnResendAct" class="btn btn-block">Resend Activation Link</button>
                                            @Html.Hidden("hfUserEMail", (object)ViewBag.UserActEMail)
                                        </div>
                                    </div>
                                }
                            }
                           <div style="height:20px"></div>
                           <div class="row">
                                                <div class="col-lg-6 col-12">
                                                    <div class="form_area">
                                                        @using (Html.BeginForm("ProcessLogin", "Account"))
                                                        {
                                                            <div class="form-group">
                                                                @Html.TextBox("txtEMailId", "", new { @class = "form-control", placeholder = "Email ID", name = "txtEMailId", type = "email", required = "required" })
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.Password("txtPassword", "", new { @class = "form-control", placeholder = "Password", name = "txtPassword", type = "password", required = "required" })
                                                            </div>
                                                            <p class="mt20"> <a href="@Url.Action("ForgotPassword", "Account")">Forgotten your password?</a></p>
                                                            <div class="form_area">
                                                                <button type="submit" class="btn btn-block">LOGIN</button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-12">
                                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

                                                    <p class="mt20">Don't have an account? <a href="@Url.Action("Choice", "Account")">Register</a></p>
                                                </div>
                                            </div>
                <div class="row">
                    <div class="col-6 col-md-6 text-center">
                        <img src="~/Images/WebUser.png">
                    </div>
                    <div class="col-6 col-md-6  text-center">
                        <img src="~/Images/WhatToExpect.png">
                    </div>
                </div>
                           

            </div>
        </div>
    </div>







@*<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="~/Scripts/js/Facebook.js"></script>
<script src="~/Scripts/js/Google.js"></script>
<div style="height:50px"></div>
<h2>Login</h2><br />


<div align="center" style="width:100%;">




    <table style="border-radius:6%;background-color:#EFF0ED;width:30%;height:500px">
        <tr>
            <td align="center">
                <table style="font-size:16px;width:90%" cellpadding="5">

                    <tr>
                        <td>
                            <div id="divAck" style="width: 100%; font-weight: bold;  color: Red">@ViewBag.Ack</div>
                        </td>
                    </tr>                  
                   

                    @using (Html.BeginForm("ProcessLogin", "Account"))
                    {
                      if(ViewBag.Activation != null)
                      { 
                       <tr>
                        <td>
                            <span style="width: 100%; font-weight: bold;  color: Red">@ViewBag.Activation</span>
                        </td>
                       </tr>    
                         
                        <tr>
                            <td>
                                <input type="submit" value="Resend Activation Link" id="btnResendAct" style="border-radius:10px" class="mysubmit" />
                                @Html.Hidden("hfUserEMail", (object)ViewBag.UserActEMail)
                            </td>
                        </tr>    
                      }        
                        <tr>
                            <td>
                                @Html.TextBox("txtEMailId", "", new { style = "border:groove;width:100%;border-width:1px;border-color:grey;border-radius:5px;height:40px", placeholder = "Email" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.Password("txtPassword", "", new { style = "border:groove;width:100%;border-width:1px;border-color:grey;border-radius:5px;height:40px", placeholder = "Password" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Login" id="btnLogin" onclick="return ValidateLogin()" style="width:100%;height:40px;border-radius:10px" class="mysubmit" />
                            </td>
                        </tr>

                    }
                    <tr>
                        <td>

                            @Html.ActionLink("Forgot Password", "ForgotPassword", "Account", null, new { style = "font-size:14px" })

                        </td>
                    </tr>
                    <tr>
                        <td>

                            @Html.ActionLink("New User? Register", "Register", "Account", null, new { style = "font-size:14px" })

                        </td>
                    </tr>
                    <tr><td>
                        <a href="@Url.Action("ExternalLogin", "Account")" class="btn btn-block btn-facebook btn-lg btn-left-icon">
    <span class="fa fa-facebook" aria-hidden="true"></span> Login with Facebook
</a>

                            <a href="@Url.Action("ExternalLogin", "Account")" class="btn btn-block btn-twitter btn-lg btn-left-icon">
                                <span class="fa fa-twitter" aria-hidden="true"></span> Login with Twitter
                            </a>
                        </td></tr>
                    @*<tr>
                        <td align="center">
                            <input type="image" onclick="FaceBookLogin()" value="Test" style="height:35px;width:200px" src="~/Images/SignInWithFacebook.png" />                           
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div id="my-signin2"></div>
                        </td>
                    </tr>*@
                    @*<tr>
                        <td align="center">
                                <section id="socialLoginForm">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                </section>
</td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>







</div>*@




