@{
    ViewBag.Title = "My Bookmarks";
    Layout = null;
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css">
@*<link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />*@
@*<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" />*@
@*<link rel="stylesheet" href="~/Content/plugins.min.css">*@
<link rel="stylesheet" href="~/Content/pe-icon-7-stroke.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/style.css">
@*<link rel="stylesheet" href="~/Content/responsive.css">*@

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
@*<script src="~/Scripts/jquery-ui.js"></script>*@
@*<script src="~/Scripts/platform.js" async defer type="text/javascript"></script>*@



    @using MeetPlayPal.Models

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div style="height:5px"></div>
                    @*<div class="page_title_area">
                        <div class="section_heading">
                            <h4><span>Login</span> </h4>
                        </div>
                    </div>*@

                    @*<div class="success_info">Thank you! your message sent successful</div>*@
                    <div class="error_info">@ViewBag.Ack</div>
                    @using (Html.BeginForm("ProcessActivationCode", "Account"))
                    {
                        if (ViewBag.Activation != null)
                        {
                            <div class="form-group">
                                <div class="error_info">@ViewBag.Activation</div>
                            </div>
                            <div class="col-lg-6 col-6">
                                        <div class="form-area">
                                            <button type="submit" id="btnResendAct" class="btn btn-block">Resend Activation Link</button>
                                            @Html.Hidden("hfUserEMail", (object)ViewBag.UserActEMail)
                                        </div>
                                    </div>
                        }
                    }
                   
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="form_area">
                                @using (Html.BeginForm("ProcessLogin", "Account"))
                                {
                                    <div class="form-group">
                                        @Html.TextBox("txtEMailId", "", new { @class = "form-control", placeholder = "Email ID", name = "txtEMailId", type = "email", required = "required", style="width:90%" })
                                    </div>
                                                            <div class="form-group">
                                                                @Html.Password("txtPassword", "", new { @class = "form-control", placeholder = "Password", name = "txtPassword", type = "password", required = "required", style = "width:90%" })
                                                            </div>
                                                            <p class="mt20"> <a target="_blank" href="@Url.Action("ForgotPassword", "Account")">Forgotten your password?</a></p>
                                                            <div class="form_area">
                                                                <button type="submit" class="btn btn-block">LOGIN</button>
                                                            </div>
                                }
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

                            <p class="mt20">Don't have an account? <a target="_blank" href="@Url.Action("Register", "Account")">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/plugins.min.js"></script>
<script src="~/Scripts/custom.js"></script>