
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MeetPlayPal.Models

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="~/js/Facebook.js"></script>
<script src="~/js/Google.js"></script>

@*<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>*@
<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script> 

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-content" class="tg-content">
                <div class="tg-loginsignup">
                    @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="tg-logingarea">
                            <h2>Login Now</h2>
                            <form class="tg-formtheme tg-formloging">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="tg-checkbox">
                                            <input id="tg-rememberme" type="checkbox" name="rememberme" value="rememberme">
                                            <label for="tg-rememberme">Keep me logged in</label>
                                        </div>
                                        <a class="tg-forgetpassword" href="javascript:void(0);">Forgot Password?</a>
                                    </div>
                                    <button class="tg-btn" type="button">Login</button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tg-texbox">
                            <p><strong>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</strong></p>
                            <p>Quis nostrud exercitation ullamcoaris nisiuate aliquip ex ea commodo consequat aute irure dolor atem reprehenderit in esse.</p>
                            <ul>
                                <li>Proident sunt in culpa qui officia</li>
                                <li>Deserunt mollit anim idestorum</li>
                                <li>Sedutana perspiciatis</li>
                                <li>Aunde omnis iste natus voluptatem</li>
                                <li>Cullamcoaris nisiutia aliquip</li>
                            </ul>
                        </div>
                    </div>*@
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @*<div class="tg-videobox">
                            <figure>
                                <img src="images/placeholder-02.jpg" alt="image description">
                                <a class="tg-btnplayvideo" href="javascript:void(0);"><i class="icon-play3"></i></a>
                            </figure>
                        </div>*@
                        <div class="tg-title">
                            <h2>Register Now</h2>
                        </div>
                        <div class="tg-haslayout">
                            <div class="row">
                                @using (Html.BeginForm("ProcessActivationCode", "Account"))
                                {
                                    if (ViewBag.Activation != null)
                                    {
                                        <div class="col-lg-12 col-12">

                                            <div class="form-group">
                                                <div class="error_info">@ViewBag.Activation</div>
                                            </div>

                                            <div class="form-area">
                                                <button type="submit" id="btnResendAct" class="btn btn-block">Resend Activation Link</button>
                                                @Html.Hidden("hfUserEMail", (object)ViewBag.UserActEMail)
                                            </div>
                                        </div>
                                    }
                                }

                                <div id="divAck" class="error_info"></div>
                                <div class="error_info">@ViewBag.Ack</div>
                                <div class="row">
                                    <div class="col-lg-6 col-6">
                                        <div class="form_area">
                                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {

                                                <div class="form-group">
                                                    @Html.TextBox("txtFirstName", "", new { placeholder = "First Name", @class = "form-control", required = "required" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextBox("txtLastName", "", new { placeholder = "Last Name", @class = "form-control", required = "required" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextBox("txtEMailId", "", new { @class = "form-control", placeholder = "Email ID", type = "email", required = "required" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.Password("txtNewPassword", "", new { placeholder = "New Password", @class = "form-control", required = "required" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.Password("txtConfirmPassword", "", new { placeholder = "Confirm Password", @class = "form-control" })
                                                </div>
                                                <div>
                                                    @if (ViewBag.Ack == null)
                                                    {
                                                        @*@Html.GenerateCaptcha(Theme.White)*@
                                                        <div class="g-recaptcha" data-sitekey="6Ld7oD4UAAAAALIOKHkpmTmnbt_JiZohkd6Xjat5"></div>
                                                    }
                                                </div>

                                                <div class="form_area">
                                                    <button class="tg-btn"  type="submit" onclick="return ValidateUserReg()">Register</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-6">
                                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                        <p class="mt20">Already have an account? <a href="@Url.Action("Login", "Account")">Login</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>